@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
    /*Primary Colors*/
    --light-red: hsl(0, 100%, 67%);
    --light-red-transparent: hsl(0, 100%, 67%, 0.1);
    --orangey-yellow: hsl(39, 100%, 56%);
    --orangey-yellow-transparent: hsl(39, 100%, 56%, 0.1);
    --green-teal: hsl(166, 100%, 37%);
    --green-teal-transparent: hsl(166, 100%, 37%, 0.1);
    --cobalt-blue: hsl(234, 85%, 45%);
    --cobalt-blue-transparent: hsl(234, 85%, 45%, 0.1);
    /*Gradients*/
    --light-state-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
    /*Neutral Colors*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 86%);
    --dark-gray-blue: hsl(224, 30%, 27%);
    --light-lavender-transparent: hsl(241, 100%, 89%, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Hanken Grotesk', sans-serif;
}
body {
    height: 100vh;
}

/* Result Component */
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.7rem 0;
    border-radius: 0 0 12% 12%;
    background: linear-gradient(180deg, var(--light-state-blue), var(--light-royal-blue));
}
.result__title {
    font-size: 1.5rem;
    color: var(--light-lavender);
    margin-bottom: 2rem;
}
.result__circle {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--violet-blue), var(--persian-blue));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}
.result__value {
    font-size: 4.7rem;
    color: var(--white);
    font-weight: 700;
}
.result__total {
    font-size: 1.1rem;
    color: var(--light-lavender-transparent);
}
.result__subtitle {
    font-size: 1.7rem;
    color: var(--pale-blue);
}
.result__description {
    width: 65%;
    text-align: center;
    font-size: 1.12rem;
    line-height: 1.4rem;
    color: var(--light-lavender);
    margin: 1rem 0;
}
/*Summary component */
.summary {
    text-align: center;
}
.summary__title {
    font-size: 1.5rem;
    color: var(--dark-gray-blue);
    margin: 2rem 2rem;
    text-align: start;
}
.summary__button {
    font-size: 1.5rem;
    font-family: 'Hanken Grotesk', sans-serif;
    width: 85%;
    padding: 1.4rem;
    margin: 1rem auto 1.5rem;
    border: none;
    border-radius: 25rem;
    background-color: var(--dark-gray-blue);
    color: var(--white);
}
.summary__button:hover {
    background: linear-gradient(180deg, var(--light-state-blue), var(--light-royal-blue));
    color: var(--white);
}
/*BarResult component*/
.bar {
    display: flex;
    align-items: center;
}
.barResult {
    width: 85%;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem;
    margin: 0 auto 1.5rem;
    border-radius: 1.2rem;
}
.barResult__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}
.barResult__name {
    font-size: 1.3rem;
    font-weight: 800;
}
.barResult__value {
    font-size: 1.2rem;
    font-weight: 800;
    margin-right: .4rem;
    color: var(--dark-gray-blue);
}
.barResult__total {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--light-lavender);
}

@media screen and (min-width: 768px) {
    #root {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .App {
        display: flex;
        justify-content: center;
        position: relative;
    }
    .summary {
        border-radius: 1rem;
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
    }
    .result,
    .summary {
        width: 26rem;
        border-radius: 3rem;
    }
    .summary__button {
        cursor: pointer;
    }
}